---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap">
</head>
<body>

    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h2 class="home heading">Family & Cosmetic Dentist in Rancho Cucamonga</h2>

        <div class="slideshow-wrapper">
            <div class="slideshow-container">

            <button class="left slideshow-arrow" id="left-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/LeftArrow.svg' | relative_url}}" alt="left arrow">
            </button>
            <button class="right slideshow-arrow" id="right-slideshow-arrow">
                <img class="arrow-image" src="{{ '/images/slideshow/arrows/RightArrow.svg' | relative_url}}" alt="right arrow">
            </button>
            <img class="slideshow-image active" id="img-0" src="images/slideshow/display_pictures/SlideshowImage0.jpg" alt="pic 0">
            <img class="slideshow-image" id="img-1" src="images/slideshow/display_pictures/SlideshowImage1.jpg" alt="pic 1">
            <img class="slideshow-image" id="img-2" src="images/slideshow/display_pictures/SlideshowImage2.jpg" alt="pic 2">
            </div>
            <div class="slideshow-dots-container">
                <div class="bigger-dot-container">
                    <button class="slideshow-dot active" id="slideshow-dot-0"></button>
                </div>
                <div class="bigger-dot-container">
                    <button class="slideshow-dot" id="slideshow-dot-1"></button>
                </div>
                <div class="bigger-dot-container">
                    <button class="slideshow-dot" id="slideshow-dot-2"></button>
                </div>
            </div>
        </div>

        
        <div class="base text box home">
            <!-- <img class="face-image" src="./images/how-to-draw-a-blank-face-featured-image-1200.png" alt="profile"> -->
            <p>
                Located at the foothills of the San Gabriel Mountains, on the 
                northeast corner of Haven Avenue and Baseline Road in Rancho 
                Cucamonga, Terra Vista Dental Care provides high-quality, 
                personalized dental care for patients of all ages. Our modern, 
                newly renovated dental office offers a comfortable, friendly, 
                and non-corporate environment for families seeking a trusted 
                dentist in Rancho Cucamonga.
            </p>
            <p>
                Dr. Sejal Rajurkar brings over fifteen years of private practice 
                experience and is known for her gentle, patient-focused 
                approach. As a highly skilled family and cosmetic dentist in 
                Rancho Cucamonga, she combines artistry with precision to 
                deliver beautiful, natural-looking results. Her attention to 
                detail and commitment to excellence ensure that every patient 
                receives care tailored to their unique needs.
            </p>
            <p>
                Dr. Rajurkar graduated at the top of her class from Loma Linda 
                University School of Dentistry and was recognized on the Dean's 
                List. She has an extensive research background, having presented 
                at university, state, and international levels, including the 
                International Association for Dental Research. By integrating 
                advanced dental technology with evidence-based dentistry, she 
                provides modern, effective treatment options for optimal oral 
                health.
            </p>
            <p>
                At Terra Vista Dental Care, we focus on preventive dentistry, 
                patient education, and long-term oral health. We take the time 
                to thoroughly evaluate your dental needs, explain all treatment 
                options, and help you make informed decisions that prioritize 
                function, health, and aesthetics. Whether you need routine 
                dental cleanings, cosmetic dentistry, or clear aligners, our 
                goal is to help you achieve and maintain a healthy, confident 
                smile.
            </p>
            <p>
                Our carefully selected and highly trained dental team is 
                dedicated to providing an exceptional patient experience at 
                every visit. We welcome new patients and invite you to stop by 
                for a complimentary office tour—just ask for Diana, and she will 
                be happy to assist you.
            </p>
            <p>
                We proudly offer a full range of dental services in Rancho 
                Cucamonga, including general dentistry, preventive care, 
                cosmetic dentistry, and clear aligner treatment. 
                <a href="pages/services_provided.html">
                Click here</a> 
                for 
                a fun overview of some services we provide! If you're looking 
                for a trusted dentist near you, contact Terra Vista Dental Care 
                today at (909) 256-8484 to schedule your appointment.
            </p>
        </div>



        

        
        <!-- <div class="horizontal-stack container home-link">
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 1">
                <a class="base text" href="index.html">LINK 3</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 2">
                <a class="base text" href="index.html">LINK 2</a>
            </div>
            <div class="medium-small text horizontal-stack item home-link">
                <img class="home-link" src="images/insurance-logos/Aetna_logo.svg" alt="link 3">
                <a class="base text" href="index.html">LINK 1</a>
            </div>
        </div> -->

    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="{{ '/scripts/layout.js' | relative_url }}"></script>
    <script type="module" src="{{ '/scripts/slideshow_exec.js' | relative_url }}"></script>
</body>
</html>