---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specials</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
</head>
<body>
    <div id="site-header">
        {% include header.html %}
    </div>

    <div class="body-region hidden">
        <h1>Current Specials</h1>
        <div class="specials vertical-stack">
            <!-- <div class="horizontal-stack specials">
                <img src="../images/specials/offerspics/exampic.png" alt="exam">
                <div class="specials bordered-box">
                    <p>
                        $60 New Patient Exam, X-rays, Cleaning
                    </p>
                    <p>
                        Does not include deep cleaning
                    </p>
                </div>
            </div> -->
            <div class="horizontal-stack specials">
                <img src="../images/specials/offerspics/exampic.png" 
                alt="invisalign" class="specials">
                <div class="specials text box">
                    <h3 class="specials text box">Free Exam and X-Rays</h3>
                    <p>
                        <b>
                        Exam Offer for New Patients!
                        </b>
                        Full Exam and X-Rays FREE with insurance and only $79 
                        without insurance. This special includes full 
                        mouth X-Rays, oral exam, and evaluation. Act fast to 
                        get a low-cost, high-value visit and make the first step
                        towards exceptional dental health!
                    </p>
                </div>
            </div>

            <div class="horizontal-stack specials">
                <img src="../images/specials/offerspics/invisPIC.png" 
                alt="invisalign" class="specials">
                <div class="specials text box">
                    <h3 class="specials text box">Clear Aligners</h3>
                    <p>
                        <b>
                        We are currently offering a free consultation for clear 
                        aligners along with a $1500 discount on treatment.
                        </b>
                        Clear aligners are an excellent alternative to 
                        traditional braces because they are nearly invisible, 
                        more comfortable, and can be removed for eating, 
                        brushing, and flossing—making it easier to maintain good 
                        oral hygiene. They require fewer office visits and are 
                        effective for treating issues like crowding, spacing, 
                        and mild bite problems. Call us at (909) 256-8484 to 
                        schedule you complimentary consultation and discount today! 
                        (Full case; restrictions may apply).
                    </p>
                </div>
            </div>


            <div class="horizontal-stack specials">
                <img src="../images/specials/offerspics/logo-100x200-arestin.png" 
                alt="invisalign" class="specials">
                <div class="specials text box">
                    <h3 class="specials text box">50% OFF Arestin</h3>
                    <p>
                        <b>
                        We are offering a 50% discount on Arestin, a powerful
                        medication for periodontitis.
                        </b>
                        Arestin is used along with scaling and root planing to 
                        fight gum disease at the site of infection. If you 
                        notice loose teeth, swollen or bleeding gums, or bad 
                        breath, you may be a candidate for Arestin!
                    </p>
                </div>
            </div>



            <!-- <div class="horizontal-stack specials">
                <img src="../images/specials/offerspics/teethwhiteningPIC.png" alt="">
                <div class="specials bordered-box">
                    <p>
                        $299 Zoom Teeth Whitening Session
                    </p>
                    <p>
                        For more information on Zoom teeth whitening <br> click 
                        <a href="">here</a>.
                    </p>
                </div>
            </div> -->
        </div>
    </div>

    <div id="site-footer">
        {% include footer.html %}
    </div>

    <script type="module" src="/scripts/layout.js" defer></script>
</body>
</html>