* {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.text-container {
    width: 50%;
    margin: 10px auto 10px;
}

.message {
    font-size: 40px;
    text-align: center;
}